@import "./styles/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.phone {
  height: 50px;
  width: 100px;
  border: 3px solid white;
  border-radius: 10px;
  animation: rotate 1.5s ease-in-out infinite alternate;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
.bounce-image {
  animation: move 3s infinite ease alternate;
}
@keyframes move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.shadow-card__material-definition {
  box-shadow: 8px 10px #ffdc96;
}
.shadow-card__generic-structure {
  box-shadow: 8px 10px #fae6da;
}

.button-effect-clicked {
  @apply cursor-pointer duration-300 ease-in-out hover:scale-110 active:opacity-50;
}
